{
  "$schema": "https://raw.githubusercontent.com/cloudflare/workers-sdk/main/schemas/wrangler.json",
  "name": "gateway",
  "main": "index.js",
  "compatibility_date": "2026-02-10",
  "r2_buckets": [
    {
      "binding": "BUCKET",
      "bucket_name": "your-bucket-name"
    }
  ]
}
